<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>
<div style="background-color: #f2f2f2" >
	navbar
</div>